{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Demo page</title>

</head>
<body>
<p>qrコード表示画面</p>

<div id="output"></div>

<script type="text/javascript" src="{% static 'js/jquery_1_5_2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.qrcode.min.js' %}"></script>
<script>
jQuery(function(){
	jQuery('#output').qrcode("https://google.com");
})
</script>

</body>
</html>
